
<realTimeProducts>
<h1>Product Manager</h1>


<button id="add-product-btn">Agregar producto</button>

<div id="add-product-form">
    <form id="add-product-form-data" action="/realtimeproducts" method="post">
         <input type="text" id="product-code" placeholder="Codigo del producto" name="code">
        <input type="text" id="product-title" placeholder="Nombre del producto" name="title">
        <input type="text" id="product-description" placeholder="Descripción del producto" name="Description">
        <input type="number" id="product-price" placeholder="Precio del producto" name="price">
        <input type="number" id="product-stock" placeholder="Stock del producto" name="stock">
        <button type="submit">Guardar</button>
    </form>
</div>

<ul id="products-list">Lista de productos</ul>
 
 </realTimeProducts>